<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BCR!{% endblock %}</title>
        <script src="{{ asset('build/runtime.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="shortcut icon" type="image/jpeg" href="{{ asset('img/der-bcr.jpg') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
